@font-face {
	font-family: 'ui';
	src:url('fonts/ui.eot?uxm20r');
	src:url('fonts/ui.eot?#iefixuxm20r') format('embedded-opentype'),
		url('fonts/ui.woff?uxm20r') format('woff'),
		url('fonts/ui.ttf?uxm20r') format('truetype'),
		url('fonts/ui.svg?uxm20r#ui') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ui';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
	content: "\e600";
}
.icon-arrow:before {
	content: "\e601";
}
.icon-check:before {
	content: "\e602";
}
.icon-fb:before {
	content: "\e603";
}
.icon-ig:before {
	content: "\e604";
}
.icon-info:before {
	content: "\e605";
}
.icon-menu:before {
	content: "\e606";
}
.icon-search:before {
	content: "\e607";
}
.icon-ticket:before {
	content: "\e608";
}
.icon-tw:before {
	content: "\e609";
}
.icon-yt:before {
	content: "\e60a";
}
.icon-play:before {
	content: "\e60b";
}
