

body
	background white
	color white
	font-family 'Open Sans', sans-serif
	
	.muted
		color #a7a7a7

.app-container
	width 100%
	max-width 640px
	margin 0 auto
	overflow hidden

.main-container
	position relative
	width 100%
	max-width 640px
	margin 0 auto
	left 0
	transition left 800ms cubic-bezier(0.19, 1, 0.22, 1) 0.05s

	&.menu-open
		left 373px	


.flyout-menu
	position absolute
	width 373px
	height 100%;
	background #062040
	z-index 99
	left -373px

	ul.menu, li
		list-style none
		margin 0
		padding 0

	ul
		background #062040

		li	
			&.active
				margin-left 13px

		a
			display block
			color white
			text-align center
			font-size 30px
			padding 65px 0px
			border-bottom 2px solid #576e8a

			&.home
				background #325582
			&.movies
				background #2a4d78
			&.news
				background #204168
			&.inside-film
				background #153358
			&.focus-world
				background #0c284a


	.search
		padding 44px 16px
		height 140px
		border-bottom 2px solid #576e8a

		input
			float left
			width 83%
			height 48px
			text-align center
		.icon-search
			float left
			margin-left 2%
			font-size 50px

	.social-buttons
		height 93px
		border-bottom 2px solid #576e8a

		a
			display block
			float left
			width 25%
			height 93px
			color white
			text-align center
			font-size 40px
			padding-top 25px
			border-right 2px solid #576e8a
			
			&:last-child
				border-right none

			img
				display block
				margin 0 auto




header.main-header
	position relative

	.icon-menu
		position absolute
		top 13px
		left 20px
		cursor pointer
		font-size 60px


section

	header
		position relative
		background #062040

		h2
			text-align center
			font-size 38px
			font-weight 700
			margin 0px
			padding 10px 0px

		.more
			position absolute
			right 10px
			top 5px
			color white
			font-size 22px
			font-weight 700
			text-decoration underline
			padding-top 10px

	.carousel
		background white

		.carousel-control.right .arrow, .carousel-control.left .arrow
			top 14%

		.carousel-indicators
			bottom auto
			top 150px
			left 3%
			margin-left 0

			li
				float left

.image img
	width 100%
.slide-info
	min-height 112px
	color #062040
	border-top solid 2px #e6e6e6
	border-bottom solid 2px #e6e6e6

	.description
		padding 15px 0 10px 20px
		font-size 25px

		strong
			font-weight 700

	.icons
		a
			display block
			float left
			padding 20px
			color #a7a7a7
			border-left: solid 2px #e6e6e6
			height 110px

			div
				color #062040
				font-size 45px
				text-align center
				
			span
				display block
				font-size 20px
				margin-top 5px
				text-align center
		



footer.main-footer
	background #062040
	padding 15px 10px
	text-align center

	hgroup
		width 92%
		margin 0 auto
		h3
			margin-top 0px
			margin-bottom 0px
			font-weight 700
			font-size 30px
		h4
			margin-top 0px
			font-size 22px
			line-height 1.3em

	.newsletter-form
		width 80%
		margin 10px auto
		height 50px
		input
			float left
			width 88%

		.icon-check
			float right
			font-size 35px

	p	
		font-size 19px
		margin-bottom 5px

	a
		color white
		text-decoration underline
		font-weight 700





@media (min-width: 320px) and (max-width: 400px)

	.main-container
		&.menu-open
			left 186px

	.flyout-menu
		width 186px
		left -186px

		ul.menu, li
			li	
				&.active
					margin-left 6px
			a
				font-size 15px
				padding 32.5px 0px

		.search
			padding 22px 8px
			height 70px

			input
				width 83%
				height 24px
			.icon-search
				margin-left 2%
				font-size 25px

		.social-buttons
			height 46px
			a
				width 25%
				height 46px
				padding-top 12px
				font-size 25px







	header.main-header
		.icon-menu
			top 7px
			left 7px
			font-size 30px

	section
		header
			h2
				font-size 20px
			.more
				right 5px
				top 0px
				font-size 12px

		.carousel			
			.carousel-control
				&.right, &.left
					.arrow
						top 10%
						img
							width 35px
							height auto



			.carousel-indicators
				top 65px

			.slide-info
				min-height 65px

				.description
					font-size 12px

				.icons
					a
						padding 8px
						height 62px

						div
							font-size 25px

						span
							font-size 12px
						
			


	footer.main-footer
		
		hgroup
			h3
				margin-top 0px
				margin-bottom 0px
				font-size 18px
			h4
				margin-top 0px
				font-size 12px
				line-height 1.3em

		.newsletter-form
			width 92%
			height 50px
			input
				width 80%

			.icon-check
				color white
				font-size 35px

		p	
			font-size 10px
			margin-bottom 5px

		a
			font-weight 700


