

.main-carousel

	ul.actions
		border-top solid 2px #e6e6e6
		list-style none
		padding 0
		margin 0
		background white

		li
			list-style none
			float left
			border-right solid 2px #e6e6e6
			padding 10px 5px 5px

			&:last-child
				border-right none

			a
				display block
				color #a7a7a7
				text-decoration none

				div
					text-align center
					font-size 30px
					color #062040


				span
					display block
					text-align center
					font-size 20px
					font-weight normal


.carousel-indicators
	bottom 85px
	left 3%
	margin-left 0

	li, .active
		width 20px
		height 20px
		margin 3px

	li
		background #062040
		border 2px solid white
		float left

.carousel-control
	opacity 1

	&.right, &.left
		background none

		.arrow
			position absolute
			top 40%
			&.right-arrow
				right 10%
			&.left-arrow
				left 10%




@media (min-width: 320px) and (max-width: 400px)
	.main-carousel ul.actions li a .icon
		min-height 30px
	.main-carousel ul.actions li a span
		font-size 12px

	.carousel-indicators
		bottom 70px

	.carousel-control
		&.right, &.left
			.arrow
				top 33%
				img
					width 36px
					height 34px;
