.inside-focus2
.articleHeader
	.infoButtons
		li
			width 50%
			text-align center
			padding-top 20px
			div
				font-size 45px
				color #062040
				
			span
				font-size 20px
				color #a7a7a7
#inside-focus-slider_02
	.carousel-indicators
		bottom 0 !important
		top auto !important
.inside-focus2 .carousel .carousel-control.right .arrow,.inside-focus2 .carousel .carousel-control.left .arrow
	top 36%
.articleBody 
	color #000
	
	p 
		font-size 24px
		
@media (min-width: 320px) and (max-width: 400px)
	.articleBody.row
		padding 0 10px
		p
			font-size 12px
		h1 
			font-size 18px
		h3 
			font-size 12px
	.articleHeader
		.infoButtons
			li
				padding-top 10px
				div
					font-size 25px
				span
					font-size 10px