.pageNav 
	position relative
	
	header 
		background #e6e6e6
	h2 
		color #062040
		padding-top 20px
		padding-bottom 20px
	.backArrow
		position absolute
		top 5px
		left 15px
		z-index 1
		
		a
			color #a7a7a7
			div
				color: #062040;
				font-size: 45px;
				text-align: center;
			span 
				display block
				font-size 20px
				margin-top 5px
				text-align center	
		
.filters
	border-bottom 2px solid #e6e6e6
	.filterItems 
		list-style none
		padding 0
		background #fff
		display block
		
		li 
			list-style none
			display inline-block
			float left
			padding 22px 8px!important
			font-size 20px
			letter-spacing 1px
			color #a7a7a7
			border-right solid 2px #e6e6e6
			padding 0

			&.active 
				background #062040
				color #fff	
			&:last-child
				border-right none
				
			a
				text-decoration none
				color #a7a7a7
				
		.filterTitle 
			color #062040
			
.items 
	.description
		padding-left 20px
	.icons
		float right
			
@media (min-width: 320px) and (max-width: 400px)
	.pageNav
		h2 
			padding-top 10px
			padding-bottom 10px
		.backArrow
			a
				div 
					font-size 22px
				span
					margin-top -2px
					font-size 12px
	.items
		.item
			.slide-info 
				min-height 65px
				.description
					font-size 12px
				.icons
					float left
					
					a
						padding 8px
						height 62px
						
						div
							font-size 25px

	.filters
		.filterItems
			li 
				font-size 8px
				padding 8px 6px !important
		
