.posters
	.item 
		border-right 1px solid #e6e6e6
		border-top 2px solid #e6e6e6
		&:last-child 
			border-right none
			border-left 1px solid #e6e6e6
			

	.slide-info
		border-bottom none

		.release-date 
			padding 20px 10px
			font-size 20px

		.icons
			a
				padding 20px 5px
				
				span
					font-size 16px
					
.filters
	.filterItems
		li.large
			padding 22px 50px!important
			

@media (min-width: 320px) and (max-width: 400px)
	.filters
		.filterItems
			li.large
				padding 8px 30px!important
	
	.posters
		.slide-info
			
			min-height 0
			
			.release-date
				font-size 10px
				padding 2px 0 2px 5px
			.icons 
				padding-left 0

				a
					height inherit !important
					padding 0 5px
					div
						font-size 16px
						padding 0
					span
						font-size 8px