.main-info
	border-top 3px solid #fff
	
.infoButtons
	
	list-style none
	padding 0

	li
		width 25%
		list-style none
		float left
		border solid 2px #e6e6e6
		border-left none
		padding 0

		&:last-child
			border-right none
				
.fadeoutText 
	max-height 200px
	padding 10px 0 0 15px
	position relative
	overflow hidden
	color #062040
	
	p
		font-size 22px
	.castType1 
		display inline-block
		margin-bottom 0
		text-decoration underline
		font-size 25px
		font-weight bold
		width 95%
	.castType2
		margin-bottom 20px
		margin-top 0
		font-size 24px
		width 95%
	.readMore
		position absolute
		height 50px
		bottom 0
		left 0 
		width 100%
		margin 0 
		padding 50px 0
		background-image -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255, 255, 255, 0)),color-stop(1, white))
		background-image -webkit-linear-gradient(top, transparent, white)
		background-image -ms-linear-gradient(top, transparent, white)
		background-image -moz-linear-gradient(top, transparent, white)
		background-image -o-linear-gradient(top, transparent, white)

@media (min-width: 320px) and (max-width: 400px)
	.fadeoutText
		p
			font-size 12px
		.castType1
			font-size 14px
		.castType2
			font-size 12px
	.cast 
		.fadeoutText
			max-height 150px
			.col-xs-6
				padding-left 2px
				padding-right 2px